{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}


<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
		
<h2>Confirm your Participation in the event: {{reg}} </h2>
<p>Your seat will only be confiremed, if you cahange the status to 'YES'</p>
			<form action="" method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				{% comment %} {% for field in form %}
					{{field}}
					<hr>
				{% endfor %} {% endcomment %}
				
				<input type="submit" name='Confirm'>
			</form>
			

		</div>
	</div>
</div>


{% endblock %}